In [2]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings =  pd.read_csv('ml-latest-small/ratings.csv')
movie_rating = movies.merge(ratings[['movieId', 'rating']], how='left', on='movieId')
movie_rating.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.5

In [32]:
only_5 = movie_rating[movie_rating['rating']==5]
numb_5_rating = only_5[['movieId', 'rating']].groupby('movieId').agg('count')
most_5 = numb_5_rating[numb_5_rating.rating == max(numb_5_rating.rating)]
most_5

         rating
movieId
318         153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [64]:
power = pd.read_csv('10._Основы_pandas/power.csv')

power[power.country.str.contains('Li', case=True)]['country'].unique()

pribalt = power[((power['country'] =='Lithuania') |(power.country =='Latvia')|(power.country =='Estonia')) 
                &((power['category']== 4)| (power['category']== 12) | (power['category']== 21))]


pribalt_05_10 = pribalt[ (pribalt['year']>= 2005) & (pribalt['year'] <= 2010)]

pribalt_05_10_ge0 = pribalt_05_10[pribalt_05_10.quantity>=0]

pribalt_05_10_ge0.quantity.sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [67]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  88.45      -0.84         -0.94        NaN
1       USDRUB Курс рубля к доллару  73.04      -0.09         -0.12        NaN